@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #0fb59a;
  --blue: #146efd;
  --pink: #ffb2d8;
  --yellow: #fdd003;
  --orange: #f87a01;
  --black: #000;
  --white: #fff;
  --gray: #6b6b6b;
  --gray-dark: #1a1a1a;
  --off-white: #f3f3f3;
}

body {
  color: var(--black);
  background: var(--off-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  @apply font-heading text-3xl font-bold uppercase text-yellow;
}

th {
  text-align: start;
}

.copy p:not(:last-child) {
  @apply mb-5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
